service: stefanini-sls-challenge

frameworkVersion: "3"

provider:
    name: aws
    runtime: nodejs16.x
    stage: dev
    region: sa-east-1
    memorySize: 256
    iam:
        role:
            statements:
                - Effect: "Allow"
                  Action:
                      - dynamodb:*
                  Resource: "*"
    environment:
        DYNAMODB_EMPLOYEE_TABLE_NAME: "${self:service}-employee"
        DYNAMODB_EMPLOYEE_TABLE_REGION: ${self:provider.region}

package:
    patterns:
        - "!README.md"
        - "!test/**"

functions:
    main:
        handler: src/index.handle
        events:
            - httpApi:
                  path: /employee
                  method: post
            - httpApi:
                  path: /employee/{id}
                  method: get
            - httpApi:
                  path: /employee
                  method: get

resources:
    Resources:
        DynamoDBEmployeeTable:
            Type: AWS::DynamoDB::Table
            Properties:
                TableName: ${self:provider.environment.DYNAMODB_EMPLOYEE_TABLE_NAME}
                AttributeDefinitions:
                    - AttributeName: id
                      AttributeType: S
                KeySchema:
                    - AttributeName: id
                      KeyType: HASH
                BillingMode: PAY_PER_REQUEST
